<%- include('partials/head') -%>
<div id="home" class="intro route bg-image" style="background-image: url(https://res.cloudinary.com/nduka/image/upload/v1613754417/muxzgrbcn36a4jq3qrtc.jpg)">

  <div class="overlay-itro"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <h1 class="p-title text-center">Welcome to GraceAndyWeds Event</h1>
      </div>
    </div>
  </div>
</div>
</div>
<br>

<section id="hero" class="d-flex align-items-center section-bg">
  <div class="container-fluid about-top pt-4 pb-4" data-aos="fade-up">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1>You cannot afford to miss this event</h1>
        <h2>Here is your chance to be part of it, you are one click away to reserving a seat for yourself.</h2>
        <div><a href="/book" class="btn-get-started scrollto">Book Now</a></div>
      </div>
      <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
        <img src="/images/flowers.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>
</section><!-- End Hero -->


<section class="gallery-details mt-3" id="bg">
  <div class="container-fluid">
    <h1 class="section-title text-center pt-3 pb-2">Gallery</h1>
    <div class="gallery-details-container">

      <div class="owl-carousel gallery-details-carousel">
        <div>
          <img src="https://res.cloudinary.com/nduka/image/upload/v1614163036/tfdephvgjgwjq8wh0zyt.jpg" class="img-fluid" alt="">
          <a href="/addGallery">
            <h1 class="text-color carousel-caption">Welcome</h1>
          </a>
        </div>
        <div>
          <img src="https://res.cloudinary.com/nduka/image/upload/v1613754476/xnn5mjz9uxdzibw1oeu9.jpg" class="img-fluid" alt="">
          <a href="/gallery">
            <h1 class=" carousel-caption">See Video</h1>
          </a>
        </div>
        <div>
          <img src="https://res.cloudinary.com/nduka/image/upload/v1613754417/muxzgrbcn36a4jq3qrtc.jpg" class="img-fluid" alt="">
          <a href="/gallery">
            <h1 class=" carousel-caption">View Gallery</h1>
          </a>
        </div>
        <div>
          <img src="../images/events.jpg" class="img-fluid" alt="">
          <a href="/book">
            <h1 class="text-white carousel-caption">Event</h1>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about" class="section-bg">
  <div class="container-fluid about-top pt-4 pb-3">
    <div class="section-header">
      <h1 class="section-title text-center">About Us</h1>
      <hr>
      <span class="section-divider"></span>
      <p class="section-description px-4 text-center">
        In Ogb_Event we promise to get you properly entertained with no dull moment.
        All you have to do is to book a seat for yourself and your friends or family.
    </div>
    <div class="row">
      <div class="col-lg-6 about-img wow fadeInLeft">
        <img src="https://res.cloudinary.com/nduka/image/upload/v1614155084/a3afyjimomapaotwh0ar.jpg" width="100%" alt="">
      </div>

      <div class="col-lg-6 content wow fadeInRight">
        <h4 class="px-4">Categories</h4>
        <p class="text-center dar px-4"> We have different Categories of reservations for you to choose from and you are
          just a click away from making the choice that suits you. See the list below.</p>

        <ul>
          <li>
            <a href="/book"><i class="ion-android-checkmark-circle"> </i>Single Table</a></li>
          <li>
            <a href="/book"><i class="ion-android-checkmark-circle"> </i> Table for Two</a></li>
          <li>
            <a href="/book"><i class="ion-android-checkmark-circle"> </i>General Table</a></li>
          <li>
            <a href="/book"><i class="ion-android-checkmark-circle"> </i>High Table</a></li>
          <li>
            <a href="/book"><i class="ion-android-checkmark-circle"> </i>VIP Table</a></li>
          <li>
            <a href="/book"><i class="ion-android-checkmark-circle"> </i>Executive Table</a></li>

        </ul>
        <h4 class="px-4">Make a Reservation</h4>
        <p class="text-center px-4"> You can reserve a seat by choosing from our list above or by clicking this <a
            href="/book" class="text-color">link</a> now.

      </div>
    </div>

  </div>
</section>

<!-- #about -->

<section id="contact">
  <div class="container about-top pt-3 pb-4">
    <div class="section-header">
      <h1 class="section-title text-center">Contact Us</h1>
      <hr>
      <span class="section-divider"></span>
      <div class="row wow fadeInUp">

        <div class="col-lg-4 col-md-4">
          <div class="contact-about">
            <h3>
              <strong>
                <small class="px-4">Ogb_Event</small>
              </strong>
            </h3>
            <p class="text-center dar px-4">For further information, enquiries and or assistance, contact us
              through the following links below or you reach us via email and on phone through the email and phone
              number below
            </p>
            <div class="social-links  ml-5 mb-3 icon">
              <a href="https://twitter.com/@ogbonnaubadire" class="twitter">
                <i class="btn fa fa-twitter icon"></i>
              </a>
                <a href="https://bit.ly/2Z6Xyxw" class="facebook">
                <i class="btn fa fa-facebook "></i>
              </a>
              <a href="#" class="github">
                <i class="btn fa fa-github icon"></i>
              </a>
              <a href="https://bit.ly/2Z6Xyxw" class="linkedin">
                <i class="btn fa fa-linkedin icon"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="info">
            <div class="text-center dar px-4">
              <i class="ion-ios-location-outline"></i>
              <p>Locate us @ 2 Ubadire Street, Aba,
                <br>Abia state, Nigeria</p>
            </div>

            <div class="text-center dar">
              <i class="ion-ios-email-outline"></i>
              <p><i>chinonsoubadire2@gmail.com</i></p>
            </div>

            <div class="text-center dar px-4">
              <i class="ion-ios-telephone-outline"></i>
              <p>07080399120</p>
            </div>

          </div>
        </div>

        <div class="col-lg-5 col-md-8">
          <div class="form">
            <div id="sendmessage" class="text-center">Message Us</div>
            <br>
            <%- include('partials/message') -%>
            <div id="errormessage"></div>
            <form action="/send" method="POST" role="form" class="contactForm">
              <div class="form-row">
                <div class="form-group col-lg-6">
                  <input required type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                    data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group col-lg-6">
                  <input required type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                    data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group col-lg-6">
                  <input required type="number" class="form-control" name="phone" id="phone" placeholder="Your Phone Number"
                    data-rule="minlen:11" data-msg="Please enter a valid number" />
                  <div class="validation"></div>
                </div>
                <div class="form-group col-lg-6">
                  <input required type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                    data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group col-lg-12">
                  <textarea required class="form-control" name="message" rows="5" data-rule="required"
                    data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="col-md-12 text-center mb-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-dark" title="Send Message">Send Message</button>
                </div>
            </form>
          </div>
        </div>
      </div>

    </div>
</section>
<br>
<%- include('partials/footer')-%>