<%- include('partials/header')-%>
<div id="home" class="intro route bg-image" style="background-image: url(../images/jewellery.jpg)">

  <div class="overlay-itro"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <h3>Welcome</h3>
        <div class="section">
          <p class="lead">Please Login to Book a seat for this event</p>
        </div>
        <div class="divider"></div>
        <div class="section">
          <a href="/auth/google" class="btn btn-danger"><i class="fa fa-google left"> </i> Log In With Google</a>
        </div>
    </div>
  </div>
</div>
</div>

<%- include('partials/footer')-%>